<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Page</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $(function(){
            $("#btn").click(() => {
                const data = { password : $("#password").val(),
                                name : $("#name").val(),
                                address : $("#address").val()};
                const id = $("#member_id").val();
                // const url = 
                $.ajax({
                    url  : "/members/" + id,
                    type : "PATCH",
                    data : data,
                    dataType: "json"
                })
                .then(res => {
                    console.log(res);
                    $("#submit_wording").text("update completed");
                    // window.location.reload("");
                })
                .catch(err => {
                    console.log(err);
                });
            });

        });
    </script>
</head>
<body>
    <header>
        <h1 style="position: absolute;left: 120px;top: 0;line-height: 80px;">扣咖啡</h1>
        <nav>
            <ul>
                <li>
                    <a href="/adminAuth">MANAGE</a>
                    <ul>
                        <li><a href="/products/add">Add Products</a></li>
                        <li><a href="/products">Manage Products</a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/members">MEMBER</a></li>
                <li><a href="#">CART</a></li>
                <li><a href="/login">SIGNIN</a></li>
                <li><a href="/members/signout">SIGNOUT</a></li>
             </ul>
       </nav>
    </header>
    <main>
    <nav>
    <div class="container">
        <div class="d-flex outer">
            <div class="row">
                <div id="category-menu">
                    <p class="gnav__link">CATEGORY</p>
                        <div class="category-list"> 
                            <ul>
                                <li> <a href="">Roast Level</a>
                                    <ul><li><form action="/products/search" method="GET"> <input type="hidden" name="roastLevel" value="light roast"/> <input type="submit" value="Light roast"> </form></li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="roastLevel" value="medium roast"/> <input type="submit" value="Medium roast"> </form></li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="roastLevel" value="dark roast"/> <input type="submit" value="Dark roast"></form>  </li>  </ul>  </li>  
                                <li> <a href="">Region</a>  
                                    <ul><li> <a href="">Asia / Oceania</a> </li>  
                                        <li> <a href="">Latin America</a> </li>  
                                        <li> <a href="">Africa</a> </li>  </ul>  </li>  
                                <li> <a href="">Brewing Equipment</a>  
                                    <ul><li> <a href="">LILI</a> </li>  
                                        <li> <a href="">MHW-3BOMBER</a> </li>  
                                        <li> <a href="">NANA COFFEE ROASTERS</a> </li>  </ul>  </li>    
                            </ul>
                        </div>        
                </div>
            </div>

            <div class="row_d-flex-col flex-2" style="align-items: center;">
                <h2>Member Page</h2>
                <div class="form-group">
                    <input type="hidden" id="member_id" name="member_id" value="<%= userInfo._id %>">
                    <div><label for="username">account :</label>
                    <span style="margin-left: 15px;"> <%= userInfo.account %> </span>
                    </div>
                    <div><label for="password">password :</label>
                    <input type="text" id="password" name="password" value="<%= userInfo.password %>"></div>
                    <div><label for="name">name :</label>
                    <input style="margin-left: 37px;" type="text" id="name" name="name" value="<%= userInfo.name %>"></div>
                    <div><label for="address">address :</label>
                    <input style="margin-left: 15px;" type="text" id="address" name="address" value="<%= userInfo.address %>"></div>
                    <button id="btn">Submit</button><span id="submit_wording"></span>
                </div>
                <table>
                    <tr>
                        <th>Order No.</th>
                        <th>Payment</th>
                        <th>Status</th>
                        <th>Order Date</th>
                        <th>Details</th>
                    </tr>
                    <% orders.forEach(function(order, index) { %>
                    <tr>
                        <td><%= order.orderId %></td>
                        <td style="text-align: right;">$ <%= order.totalAmount %></td>
                        <td style="text-align: center;"><%= order.status %></td>
                        <td><%= order.createdAt.toLocaleString() %></td>
                        <!-- <td style="text-align: right;"><%= order.quantity %></td>
                        <td style="text-align: right;"><%= order.price %></td>
                        <td><%= order.content %></td> -->
                        <td>
                            <a href="/orders/<%= order.orderId %>"><button class="btn">Check</button></a>
                        </td>
                    </tr>
                    <% }); %>
                </table>
                <div class="error-message"></div>
            </div>
        </div>
    </div>
    </nav>
    </main>
<footer>
    <p>ddd</p>
</footer>

</body>
</html> 

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Page</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h2>會員頁面</h2>
    </div>
    <div class="container">
        <div style="text-align: right; margin-top: 20px">
            <button><a href="/adminAuth">前往管理者頁面</a></button>
        </div>
        <div style="text-align: right; margin-top: 20px">
            <button><a href="/members/signout">Singout</a></button>
        </div>
        <div class="error-message"></div>
    </div>
</body>
</html> -->
