<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Coffee</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $(function(){
            <% orders.message.forEach(function(order, index) { %>
                $("#btn_<%= index %>").click(() => {
                    if(confirm('Are you sure you want to delete this?')){
                        const msg_id = $("#msg_id_<%= index %>").val();
                        $.ajax({
                            url  : "/orders/<%= orders.orderId %>/message",
                            type : "DELETE",
                            data : { msgId: msg_id},
                            dataType: "json"
                        })
                        .then(res => {
                            console.log(res);
                            window.location.reload();
                        })
                        .catch(err => {
                            console.log(err);
                        });
                    }
                });
            <% }); %>
        });
    </script>
</head>
<body>
    <header>
        <h1 style="position: absolute;left: 80px;top: 0;line-height: 80px;">Code Coffee</h1>
        <nav>
            <ul>
                <% if (manageHeader.userInfo !== undefined && manageHeader.userInfo.account === "admin") { %>
                <li>
                    <a>MANAGE</a>
                    <ul>
                        <li><a href="/products/f/add">Add Products</a></li>
                        <li><a href="/products">Products List</a></li>
                        <li><a href="/orders">Orders List</a></li>
                        <li><a href="/members">Members List</a></li>
                    </ul>
                </li>
                <% } %>
                <li><a href="/">Home</a></li>
                <li><a href="/members/page">MEMBER</a></li>
                <% if (!manageHeader.userInfo) { %>
                <li><a href="/login">SIGNIN</a></li>
                <% } else { %>
                <li><a href="/signout">SIGNOUT</a></li>
                <% } %>
                <li><a href="/shoppingCart">CART</a></li>
             </ul>
       </nav>
    </header>
    <main>
    <nav>
    <div class="container">
        <div class="d-flex outer">
            <div class="row desktop-mode">
                <div id="category-menu">
                    <form action="/products/f/search" method="GET">
                        <input type="search" name="name" placeholder="Press enter to search">
                    </form>
                    <br>
                    <p class="gnav__link"><h3>CATEGORY</h3></p>
                        <div class="category-list"> 
                            <ul>
                                <li> <a>Roast Level</a>
                                    <ul><li><form action="/products/f/search" method="GET"> <input type="hidden" name="roastLevel" value="light roast"/> <input type="submit" value="Light roast"> </form></li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="roastLevel" value="medium roast"/> <input type="submit" value="Medium roast"> </form></li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="roastLevel" value="dark roast"/> <input type="submit" value="Dark roast"></form>  </li>  </ul>  </li>  
                                <li> <a>Region</a>  
                                    <ul><li><form action="/products/f/search" method="GET"> <input type="hidden" name="region" value="asia"/> <input type="submit" value="Asia"> </form></li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="region" value="latin america"/> <input type="submit" value="Latin America"> </form></li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="region" value="africa"/> <input type="submit" value="Africa"> </form> </li>  </ul>  </li>  
                                <li> <a>Equipment</a>  
                                    <ul><li><form action="/products/f/search" method="GET"> <input type="hidden" name="category" value="brewing"/> <input type="submit" value="Coffee Brewing"> </form> </li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="category" value="grinder"/> <input type="submit" value="Coffee Grinder"> </form> </li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="category" value="others"/> <input type="submit" value="Others"> </form> </li>  </ul>  </li>    
                            </ul>
                        </div>        
                </div>
            </div>

            <div class="row_d-flex-col flex-2" style="align-items: center;">
                <table>
                    <tr>
                        <th>Order ID</th>
                        <th>Purchaser</th>
                        <th>Payment</th>
                        <th>Status</th>
                        <th>ordered on</th>
                        <th>updated on</th>
                    </tr>
                    <tr style="text-align: center;">
                        <td><%= orders.orderId %></td>
                        <td><%= orders.account %></td>
                        <td>$ <%= orders.totalAmount %></td>
                        <td><%= orders.status %></td>
                        <td><%= orders.createdAt.toLocaleString('zh-TW') %></td>
                        <td><%= orders.updatedAt.toLocaleString('zh-TW') %></td>
                    </tr>
                    <tr>
                        <th>Recipient</th>
                        <td><%= orders.recipientName %></td>
                        <th>Delivery address</th>
                        <td colspan="3"><%= orders.deliveryAddress %></td>
                    </tr>
                    <tr>
                        <th colspan="2">transactionId</th>
                        <td colspan="4"><%= orders.transactionId %></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td colspan="5" aling="right"><b>Purchase List</b></td>
                    </tr>
                    <tr>
                        <th>No.</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                    </tr>
                    <%  let total = 0;
                        orders.purchase.forEach((product, index) => { %>
                    <tr>
                        <td style="text-align: center;"><%= index + 1 %></td>
                        <td><a href="/products/<%= product._id %>"><%= product.name %></a></td>
                        <td style="text-align: center;"><%= product.quantity %></td>
                        <td style="text-align: right;">$ <%= product.price %></td>
                        <td style="text-align: right;">$ <%= parseFloat(product.quantity) * parseFloat(product.price) %></td>
                    </tr>
                    <%  total += parseFloat(product.quantity) * parseFloat(product.price);
                        }); %>
                    <tr>
                        <td colspan="4" aling="right"><b>Payment</b></td>
                        <td style="text-align: right;">$ <%= orders.totalAmount %></td>
                    </tr>
                    
                </table>
                <br>
                <div style="text-align: left;">Seller and customer order communication</div>
                <table style="width: 95%;">
                    <% let cnt = orders.message.length;
                        let index = 0;
                    for (let i = cnt - 1 ; i >= 0 ; i--) {  %>
                    <tr>
                        <td>
                            <input type="hidden" id="msg_id_<%= index %>" value="<%= orders.message[i][0] %>">
                            <div class="p-item__title">user : <%= orders.message[i][1] %></div>
                            <div><%= orders.message[i][2] %></div>
                            <div style="text-align: right;"><%= orders.message[i][3].toLocaleString('zh-TW') %></div>
                        </td>
                        <!-- console.log(orders.message[i][1]); -->
                        <td style="width: 20px;">
                            <% if (orders.message[i][1] === manageHeader.userInfo.account ) { %>
                            <button class="btn_remove" type="button" id="btn_<%= index %>">Delete</button>
                            <% } %>
                        </td>                       
                    </tr>
                    <% index += 1; } %>
                </table>
                <form action="/orders/<%= orders.orderId %>/message" method="POST">
                    <div>
                    <input type="hidden" name="orderId" value="<%= orders.orderId %>">
                    </div>
                    <div>
                    <textarea class="content-box" name="message" style="width: 95%;" rows="4" cols="100" placeholder="Message to seller."></textarea>
                    </div>
                    <br>
                    <button class="btn" type="submit">Send</button>
                </form>
            </div>
        </div>
        </div>
    </nav>
    </main>
<footer>
    <p></p>
</footer>

</body>
</html> 
