<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Coffee</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
    <header>
        <h1 style="position: absolute;left: 80px;top: 0;line-height: 80px;">Code Coffee</h1>
        <nav>
            <ul>
                <% if (manageHeader.userInfo !== undefined && manageHeader.userInfo.account === "admin") { %>
                <li>
                    <a>MANAGE</a>
                    <ul>
                        <li><a href="/products/add">Add Products</a></li>
                        <li><a href="/products">Products List</a></li>
                        <li><a href="/orders">Orders List</a></li>
                        <li><a href="/members">Members List</a></li>
                    </ul>
                </li>
                <% } %>
                <li><a href="/">Home</a></li>
                <li><a href="/members/page">MEMBER</a></li>
                <% if (!manageHeader.userInfo) { %>
                <li><a href="/login">SIGNIN</a></li>
                <% } else { %>
                <li><a href="/signout">SIGNOUT</a></li>
                <% } %>
                <% let sum = 0; if (manageHeader.cart) { manageHeader.cart.products.forEach(item => { sum += item.quantity }) }%>
                <li><a href="/shoppingCart">CART (<%= sum %>)</a></li>
             </ul>
       </nav>
    </header>
    <main>
    <nav>
    <div class="container">
        <div class="d-flex outer">
            <div class="row">
                <div id="category-menu">
                    <form action="/products/search" method="GET">
                        <input type="search" name="name" placeholder="Press enter to search">
                    </form>
                    <br>
                    <p class="gnav__link"><h3>CATEGORY</h3></p>
                        <div class="category-list"> 
                            <ul>
                                <li> <a>Roast Level</a>
                                    <ul><li><form action="/products/search" method="GET"> <input type="hidden" name="roastLevel" value="light roast"/> <input type="submit" value="Light roast"> </form></li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="roastLevel" value="medium roast"/> <input type="submit" value="Medium roast"> </form></li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="roastLevel" value="dark roast"/> <input type="submit" value="Dark roast"></form>  </li>  </ul>  </li>  
                                <li> <a>Region</a>  
                                    <ul><li><form action="/products/search" method="GET"> <input type="hidden" name="region" value="asia"/> <input type="submit" value="Asia"> </form></li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="region" value="latin america"/> <input type="submit" value="Latin America"> </form></li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="region" value="africa"/> <input type="submit" value="Africa"> </form> </li>  </ul>  </li>  
                                <li> <a>Equipment</a>  
                                    <ul><li><form action="/products/search" method="GET"> <input type="hidden" name="category" value="brewing"/> <input type="submit" value="Coffee Brewing"> </form> </li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="category" value="grinder"/> <input type="submit" value="Coffee Grinder"> </form> </li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="category" value="others"/> <input type="submit" value="Others"> </form> </li>  </ul>  </li>    
                            </ul>
                        </div>        
                </div>

            </div>

            <div class="row flex-2">
                <div class="container">
                    <div class="d-flex outer">
                        <div class="row">
                            <div class="p-itemimg__listitem img__wrap desktop-mode" role="group" aria-label="1 / 4" style="width: 420px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                <img src="<%= products.imageUrl %>" alt="<%= products.name %>">
                            </div>
                        </div>
                        <div class="row_d-flex-col flex-2">
                            <div class="p-itemimg__listitem img__wrap mobile-mode" role="group" aria-label="1 / 4" style="width: 420px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                <img src="<%= products.imageUrl %>" alt="<%= products.name %>" style="width: 75%; height: auto;">
                            </div>
                            <h2 class="p-item__title content-box" ><%= products.name %></h2>
                            <div class="p-item__price content-box">$<%= products.price %></div>
                            <br>
                            <div class="p-item__description content-box"><%= products.content %></div>
                            <br>
                            <% if (products.quantity === 0) { %>
                                <div class="p-item__title content-box"><b>SOLD OUT</b></div>
                            <% } else { %>
                            <form id="purchase_form" name="menu" action="/shoppingCart" method="POST" data-purchase-form="" data-disabled="false">
                                <div id="itemSelect">
                                    <div id="amountSelectWrap" class="purchaseElement">
                                        <label for="amountSelect">Quantity</label>
                                        <select id="product_quantity" name="product_quantity" class="amountSelect" style="">
                                            <% for(let i=1 ; i <= products.quantity ; i++){ %>
                                            <option value="<%= i %>"><%= i %></option>
                                            <% if(i===99) break; %>
                                            <% } %>
                                        </select>
                                    </div>    
                                </div>
                                <div class="purchaseButton">
                                    <input type="hidden" id="producd_id" name="product_id" value="<%= products._id %>">
                                    <input type="hidden" id="producd_name" name="product_name" value="<%= products.name %>">
                                    <input type="hidden" id="producd_price" name="product_price" value="<%= products.price %>">
                                    <input type="hidden" id="producd_imageUrl" name="product_imageUrl" value="<%= products.imageUrl %>">
                                    <button type="submit" class="purchaseButton__btn purchaseButton__btn--addToCart" style="display: block;">  Add to cart  </button>
                                </div>
                            </form>
                            <% } %>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
        </div>
    </nav>
    </main>
<footer>
    <p></p>
</footer>

</body>
</html> 

