<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Coffee</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- <link rel="import" href="../views/login.html" id="page1"> -->
</head>
<body>
    <header>
        <h1 style="position: absolute;left: 120px;top: 0;line-height: 80px;">扣咖啡</h1>

        <nav>
            <ul>
                <li>
                    <a href="/adminAuth">MANAGE</a>
                    <ul>
                        <li><a href="/products">Add Products</a></li>
                        <li><a target="display-frame" href="/products" >Search Products</a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/members">MEMBER</a></li>
                <li><a href="#">CART</a></li>
                <li><a href="/login">SIGNIN</a></li>
                <li><a href="/members/signout">SIGNOUT</a></li>
             </ul>
       </nav>
    </header>
    <main>
    <nav>
    <div class="container">
        <div class="d-flex outer">
            <div class="row">
                <div id="category-menu">
                    <p class="gnav__link">CATEGORY</p>
                        <div class="category-list"> 
                            <ul>
                                <li> <a href="">Roast Level</a>
                                    <ul><li><a href="">Light roast</a> </li>  
                                        <li> <a href="">Medium roast</a> </li>  
                                        <li> <a href="">Dark roast</a> </li>  </ul>  </li>  
                                <li> <a href="">Region</a>  
                                    <ul><li> <a href="">Asia / Oceania</a> </li>  
                                        <li> <a href="">Latin America</a> </li>  
                                        <li> <a href="">Africa</a> </li>  </ul>  </li>  
                                <li> <a href="">Brewing Equipment</a>  
                                    <ul><li> <a href="">LILI</a> </li>  
                                        <li> <a href="">MHW-3BOMBER</a> </li>  
                                        <li> <a href="">NANA COFFEE ROASTERS</a> </li>  </ul>  </li>    
                            </ul>
                        </div>        
                </div>
            </div>

            <div class="row flex-2">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>RoastLevel</th>
                        <th>Region</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Content</th>
                        <th>Delete</th>
                    </tr>
                    <% products.forEach(function(product, index) { %>
                    <tr>
                        <td><%= product.name %></td>
                        <td><%= product.category %></td>
                        <td><%= product.roastLevel %></td>
                        <td><%= product.region %></td>
                        <td><%= product.quantity %></td>
                        <td><%= product.price %></td>
                        <td><%= product.content %></td>
                        <td>
                            <form action="/products/id" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" name="id" value="<%= product._id %>">
                            <span>Delete</span>
                            </button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
                </table>
                <!-- <ul>
                    <% products.forEach(function(product, index) { %>
                        <li>
                            index: <%= index+1 %> name: <%= product.name %> category: <%= product.category %>
                        </li>
                    <% }); %>
                    </ul> -->
            </div>
        </div>
        </div>
    </nav>
    </main>
<footer>
    <p>ddd</p>
</footer>

</body>
</html>